.header {
    background-color: #663399; /* Purple background */
    padding: 20px;
    color: #FFD700; /* Gold text */
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #FFD700; /* Gold border */
  }